In [61]:
import logging

In [62]:
logging.basicConfig(level=logging.DEBUG)

In [63]:
logging.getLogger('sqlalchemy.engine.base').setLevel(logging.DEBUG)

In [64]:
from sqlalchemy import *

In [65]:
engine = create_engine('sqlite:///')

In [66]:
connection = engine.connect()

In [67]:
result = connection.execute('select 2+2')

In [68]:
result.scalar()

4

In [69]:
metadata = MetaData()

In [70]:
table = Table('person',metadata,
             Column('id',Integer, primary_key=True), 
             Column('name',String(25), nullable=False))

In [71]:
table.columns

In [72]:
print table.columns

['person.id', 'person.name']

In [73]:
print metadata.tables

immutabledict({'person': Table('person', MetaData(bind=None), Column('id', Integer(), table=<person>, primary_key=True, nullable=False), Column('name', String(length=25), table=<person>, nullable=False), schema=None)})

In [74]:
metadata.create_all(engine)

In [75]:
clause = table.insert()

In [76]:
print clause

INSERT INTO person (id, name) VALUES (:id, :name)

In [77]:
engine

Engine(sqlite:///)

In [78]:
engine.execute(clause, name='anjali')

In [79]:
clause = table.select()

In [80]:
clause

In [81]:
print clause

SELECT person.id, person.name
FROM person

In [82]:
clause = clause.limit(1)

In [83]:
print clause

SELECT person.id, person.name
FROM person
 LIMIT :param_1

In [84]:
clause = clause.order_by(table.columns.name)

In [85]:
print clause

SELECT person.id, person.name
FROM person ORDER BY person.name
 LIMIT :param_1

#### SQLALchemy ORM

In [86]:
metadata = MetaData()

In [87]:
from sqlalchemy.ext.declarative import *

In [88]:
Base = declarative_base(metadata=metadata)

In [89]:
class Person(Base):
    __tablename__ = 'person'
    id = Column(Integer, primary_key=True)
    name = Column(String(25), nullable=False)

In [90]:
print Person.__table__

person

In [91]:
print Person.__table__.columns

['person.id', 'person.name']

In [92]:
print Person.__mapper__

Mapper|Person|person

In [95]:
metadata.create_all(engine)

#### Objects. Sets of related objects which are grouped in session.

In [96]:
from sqlalchemy.orm import *

In [98]:
Session = sessionmaker(bind=engine)

In [100]:
session = Session()

In [101]:
person = Person(name='anjali')

In [102]:
session.add(person)

In [109]:
person in session

True

In [104]:
print session.new

IdentitySet([<__main__.Person object at 0x7f5b143a07d0>])

In [106]:
print session.flush()

None

In [112]:
session.flush()

In [110]:
print session

<sqlalchemy.orm.session.Session object at 0x7f5b143f0d10>

In [113]:
person in session

True

In [114]:
query = session.query(Person)

In [118]:
for person in query.all():
    print person.name

anjali
anjali

In [117]:
session.flush()

In [119]:
class Address(Base):
    __tablename__ = 'address'
    id = Column(Integer(), primary_key=True )
    street = Column(String(25), nullable=True )

In [120]:
metadata.create_all(engine)

In [121]:
Address.person_id = Column(Integer, ForeignKey(Person.id))

In [123]:
metadata.drop_all(engine)

In [125]:
metadata.create_all(engine)

Object referenece back 20:44

In [126]:
Address.person = relationship(Person, backref='addresses')